@{
    ViewData["Title"] = "Обновление информации о типе группы";
}
@using Entities.DataTransferObjects;
@model GroupTypeDTO
@using (Html.BeginForm("Update", "GroupType", FormMethod.Post, new { id = "updateForm" }))
{
    <input name="Id" value ="@Model.Id" hidden/>
    <h3>Изменение типа группы</h3>
    <p>
        <label>Тип группы</label><br />
        <input type="text" name="Name" value="@Model.Name" required />
    </p>
    <p>
        <label>Описание</label><br />
        <input type="text" name="Description" value="@Model.Description" />
    </p>
    <p>
        <input type="submit" value="Обновить" />
    </p>
}

<script>
    $("#updateForm").validate({
        rules: {
            Name: {
                required: true
            }
        },
        messages: {
            Name: "<h5 class=\"text-danger\">Введите тип группы</h5>"
        }
    })
</script>